<h2 style="text-align: center;">Kategorien</h2>
{{#each categoryResults}}
    <h3 style="text-align: center; margin-top: 20px;">{{this.0.name}}</h3>
    {{#each this}}
        <h5 style="text-align: center; margin-top: 20px; color: white">{{this.Name}}, {{this.Forename}}: {{this.anzahl}}</h5>
    {{/each}}
{{/each}}
<br/>
<hr/>
<br/>
<br/>
<h2 style="text-align: center;">Versus Fragen</h2>
{{#each vsResults}}
    <h3 style="text-align: center; margin-top: 20px;">{{this.0.option}} vs. {{this.1.option}}</h3>
    {{#each this}}
        <h5 style="text-align: center; margin-top: 20px; color: white">{{this.option}}: {{this.anzahl}}</h5>
    {{/each}}
{{/each}}
<br/>
<hr/>
<br/>
<br/>
<h2 style="text-align: center;">Standard Abiturient</h2>
{{#each defaultResults}}
    <h3 style="text-align: center; margin-top: 20px;">{{this.name}}: Ø  {{this.average}}</h3>
{{/each}}
<br/>
<hr/>
<br/>
<br/>
<h2 style="text-align: center;">Lehrer Kategorien</h2>
{{#each teacherResults}}
    <h3 style="text-align: center; margin-top: 20px;">{{this.0.name}}</h3>
    {{#each this}}
        <h5 style="text-align: center; margin-top: 20px; color: white">{{this.Name}}, {{this.Forename}}: {{this.anzahl}}</h5>
    {{/each}}
{{/each}}