<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.option1}}" placeholder="Option1"
               name="option1">
        <label for="floatingInput">Option 1</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.option2}}" placeholder="Option2"
               name="option2">
        <label for="floatingInput">Option 2</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Bestätigen</button>
</div>