<h1 style="text-align: center;">Abstimmung</h1>
<br/>
<a style="text-align: center;">Hier kannst Du Deine Meinung zur diesjährgen Abiabstimmung abgeben.</a><br>
<a>Pass aber auf! Du kannst diese Abstimmung nur ein einziges Mal durchführen.</a><br>
<a>Achte also genau darauf, was Du ausfüllst bevor Du auf den Absenden-Button ganz unten drückst.</a><br>
<a>Viel Spaß:</a>
<br/>
<br/>
<form class="row g-3 needs-validation" method="POST" action="/abiabstimmung/{{this.ID}}"
	  novalidate>
	{{> poll-form}}
</form>