<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/abiabstimmung/">Home</a></li>
    <li class="breadcrumb-item"><a href="/abiabstimmung/categorymanagement/">Kategorien verwalten</a></li>
    <li class="breadcrumb-item active" aria-current="page">Kategorie anschauen</li>
  </ol>
</nav>

<div class="p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>Kategorie</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="row">{{this.ID}}</th>
              <td>{{this.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>