<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/abiabstimmung/">Home</a></li>
    <li class="breadcrumb-item"><a href="/abiabstimmung/teachermanagement/">Lehrer verwalten</a></li>
    <li class="breadcrumb-item active" aria-current="page">Zeige Lehrer</li>
  </ol>
</nav>

<div class="p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.Name}} {{this.Forename}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Vorname</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.Name}}</th>
            <td>{{this.Forename}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>